<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <!-- Title -->
    <title>Enlighten - Professional Bootstrap Template</title>
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Favicon -->
    <link href="favicon.ico" rel="shortcut icon">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('static/assets/css') }}/bootstrap.css" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{{ asset('static/assets/css') }}/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('static/assets/css') }}/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('static/assets/css') }}/nexus.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('static/assets/css') }}/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('static/assets/css') }}/custom.css" rel="stylesheet">
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
</head>
<body>
<div id="body_bg">
    <div id="pre_header" class="container">
        <div class="row margin-top-10 visible-lg">
            <div class="col-md-6">
                <p>
                    <strong>Phone:</strong>&nbsp;1-800-123-4567</p>
            </div>
            <div class="col-md-6 text-right">
                <p>
                    <strong>Email:</strong>info@example.com</p>
            </div>
        </div>
    </div>
    <div class="primary-container-group">
        <!-- Background -->
        <div class="primary-container-background">
            <div class="primary-container"></div>
            <div class="clearfix"></div>
        </div>
        <!--End Background -->
        <div class="primary-container">
            <div id="header" class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html" title="">
                            <img src="{{ asset('static/assets/img') }}/logo.png" alt="Logo" />
                        </a>
                    </div>
                    <!-- End Logo -->
                    <ul class="social-icons pull-right hidden-xs">
                        <li class="social-rss">
                            <a href="#" target="_blank" title="RSS"></a>
                        </li>
                        <li class="social-twitter">
                            <a href="#" target="_blank" title="Twitter"></a>
                        </li>
                        <li class="social-facebook">
                            <a href="#" target="_blank" title="Facebook"></a>
                        </li>
                        <li class="social-googleplus">
                            <a href="#" target="_blank" title="GooglePlus"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Top Menu -->
            <div id="hornav" class="container no-padding">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="pull-right visible-lg">
                            <ul id="hornavmenu" class="nav navbar-nav">
                                <li>
                                    <a href="index.html" class="fa-home">Home</a>
                                </li>
                                <li>
                                    <span class="fa-gears">Features</span>
                                    <ul>
                                        <li class="parent">
                                            <span>Typography</span>
                                            <ul>
                                                <li>
                                                    <a href="features-typo-basic.html">Basic Typography</a>
                                                </li>
                                                <li>
                                                    <a href="features-typo-blockquotes.html">Blockquotes</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="parent">
                                            <span>Components</span>
                                            <ul>
                                                <li>
                                                    <a href="features-labels.html">Labels</a>
                                                </li>
                                                <li>
                                                    <a href="features-progress-bars.html">Progress Bars</a>
                                                </li>
                                                <li>
                                                    <a href="features-panels.html">Panels</a>
                                                </li>
                                                <li>
                                                    <a href="features-pagination.html">Pagination</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="parent">
                                            <span>Icons</span>
                                            <ul>
                                                <li>
                                                    <a href="features-icons.html">Icons General</a>
                                                </li>
                                                <li>
                                                    <a href="features-icons-social.html">Social Icons</a>
                                                </li>
                                                <li>
                                                    <a href="features-icons-font-awesome.html">Font Awesome</a>
                                                </li>
                                                <li>
                                                    <a href="features-icons-glyphicons.html">Glyphicons</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="features-testimonials.html">Testimonials</a>
                                        </li>
                                        <li>
                                            <a href="features-accordions-tabs.html">Accordions & Tabs</a>
                                        </li>
                                        <li>
                                            <a href="features-buttons.html">Buttons</a>
                                        </li>
                                        <li>
                                            <a href="features-carousels.html">Carousels</a>
                                        </li>
                                        <li>
                                            <a href="features-grid.html">Grid System</a>
                                        </li>
                                        <li>
                                            <a href="features-animate-on-scroll.html">Animate On Scroll</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="fa-copy">Pages</span>
                                    <ul>
                                        <li>
                                            <a href="pages-about-us.html">About Us</a>
                                        </li>
                                        <li>
                                            <a href="pages-services.html">Services</a>
                                        </li>
                                        <li>
                                            <a href="pages-faq.html">F.A.Q.</a>
                                        </li>
                                        <li>
                                            <a href="pages-about-me.html">About Me</a>
                                        </li>
                                        <li>
                                            <a href="pages-full-width.html">Full Width</a>
                                        </li>
                                        <li>
                                            <a href="pages-left-sidebar.html">Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="pages-right-sidebar.html">Right Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="pages-login.html">Login</a>
                                        </li>
                                        <li>
                                            <a href="pages-sign-up.html">Sign-Up</a>
                                        </li>
                                        <li>
                                            <a href="pages-404.html">404 Error Page</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="fa-th">Portfolio</span>
                                    <ul>
                                        <li>
                                            <a href="portfolio-2-column.html">2 Column</a>
                                        </li>
                                        <li>
                                            <a href="portfolio-3-column.html">3 Column</a>
                                        </li>
                                        <li>
                                            <a href="portfolio-4-column.html">4 Column</a>
                                        </li>
                                        <li>
                                            <a href="portfolio-6-column.html">6 Column</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="fa-font">Blog</span>
                                    <ul>
                                        <li>
                                            <a href="blog-list.html">Blog</a>
                                        </li>
                                        <li>
                                            <a href="blog-single.html">Blog Single Item</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html" class="fa-comment">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Menu -->
            <!-- === END HEADER === -->
            <!-- === BEGIN CONTENT === -->
            <div id="content">
                <div class="container no-padding">
                    <div class="row">
                        <!-- Carousel Slideshow -->
                        <div id="carousel-example" class="carousel slide" data-ride="carousel">
                            <!-- Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example" data-slide-to="1"></li>
                                <li data-target="#carousel-example" data-slide-to="2"></li>
                            </ol>
                            <div class="clearfix"></div>
                            <!-- End Carousel Indicators -->
                            <!-- Carousel Images -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="{{ asset('static/assets/img') }}/slideshow/slide1.jpg">
                                </div>
                                <div class="item">
                                    <img src="{{ asset('static/assets/img') }}/slideshow/slide2.jpg">
                                </div>
                                <div class="item">
                                    <img src="{{ asset('static/assets/img') }}/slideshow/slide3.jpg">
                                </div>
                                <div class="item">
                                    <img src="{{ asset('static/assets/img') }}/slideshow/slide4.jpg">
                                </div>
                            </div>
                            <!-- End Carousel Images -->
                            <!-- Carousel Controls -->
                            <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            <!-- End Carousel Controls -->
                        </div>
                        <!-- End Carousel Slideshow -->
                    </div>
                </div>
                <div class="container background-gray-lighter">
                    <div class="row">
                        <h2 class="animate fadeIn text-center margin-top-50">Welcome to Enlighten</h2>
                        <hr class="margin-top-15">
                        <p class="animate fadeIn text-center">Enlighten offers you the canvas to turn your imagination in to a reality
                            <br>giving you the perfect framework for your project!</p>
                        <p class="text-center animate fadeInUp margin-bottom-50">
                            <button type="button" class="btn btn-lg btn-primary">View Details</button>
                        </p>
                    </div>
                </div>
                <div class="container">
                    <div class="row margin-vert-30">
                        <!-- Main Text -->
                        <div class="col-md-9">
                            <h2>Lorem ipsum dolor</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                lobortis nisl ut aliquip ex ea commodo consequat.</p>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                                delenit augue duis dolore te feugait nulla facilisi. Cras non sem sem, at eleifend mi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Curabitur
                                eget nisl a risus.</p>
                            <img class="visible-lg animate fadeInUp" style="bottom: -50px; position: relative; left: 85px; margin-top: -20px;" src="{{ asset('static/assets/img') }}/frontpage/responsive_homepage.png" alt="">
                        </div>
                        <!-- End Main Text -->
                        <!-- Side Column -->
                        <div class="col-md-3">
                            <h3 class="title">Opening hours</h3>
                            <h6 style="margin: 0;">Mon - Wed</h6>
                            <h4 style="margin: 0;">7:00 am - 1:30 pm</h4>
                            <p>
                                <small>* Lorem ipsum dolor sit amet</small>
                            </p>
                            <hr>
                            <h6 style="margin: 0;">Thursday</h6>
                            <h4 style="margin: 0;">7:00 am - 1:30 pm</h4>
                            <p>
                                <small>* Lorem ipsum dolor sit amet</small>
                            </p>
                            <hr>
                            <h6 style="margin: 0;">Fri-Sat</h6>
                            <h4 style="margin: 0;">7:00 am - 1:30 pm</h4>
                            <p>
                                <small>* Lorem ipsum dolor sit amet</small>
                            </p>
                            <hr>
                            <h6 style="margin: 0;">Suday</h6>
                            <h4 style="margin: 0;">CLOSED</h4>
                            <p>
                                <small>* Lorem ipsum dolor sit amet</small>
                            </p>
                            <hr>
                        </div>
                        <!-- End Side Column -->
                    </div>
                </div>
                <div class="container background-gray-lighter">
                    <div class="row row-no-margin">
                        <!-- Portfolio -->
                        <ul class="portfolio-group">
                            <!-- Portfolio Item -->
                            <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                                <a href="#">
                                    <h3>Placerat facer possim</h3>
                                    <figure class="animate fadeInLeft animated">
                                        <img alt="image1" src="{{ asset('static/assets/img') }}/frontpage/image1.png">
                                        <figcaption>
                                            <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- //Portfolio Item// -->
                            <!-- Portfolio Item -->
                            <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                                <a href="#">
                                    <h3>Placerat facer possim</h3>
                                    <figure class="animate fadeInLeft animated">
                                        <img alt="image2" src="{{ asset('static/assets/img') }}/frontpage/image2.png">
                                        <figcaption>
                                            <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- //Portfolio Item// -->
                            <!-- Portfolio Item -->
                            <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                                <a href="#">
                                    <h3>Placerat facer possim</h3>
                                    <figure class="animate fadeInLeft animated">
                                        <img alt="image3" src="{{ asset('static/assets/img') }}/frontpage/image3.png">
                                        <figcaption>
                                            <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- //Portfolio Item// -->
                            <!-- Portfolio Item -->
                            <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                                <a href="#">
                                    <h3>Placerat facer possim</h3>
                                    <figure class="animate fadeInLeft animated">
                                        <img alt="image4" src="{{ asset('static/assets/img') }}/frontpage/image4.png">
                                        <figcaption>
                                            <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- //Portfolio Item// -->
                        </ul>
                        <!-- End Portfolio -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    <div id="base">
        <div class="container padding-vert-30 margin-top-40">
            <div class="row">
                <!-- Sample Menu -->
                <div class="col-md-3 margin-bottom-20">
                    <h3 class="margin-bottom-10">Sample Menu</h3>
                    <ul class="menu">
                        <li>
                            <a class="fa-tasks" href="#">Placerat facer possim</a>
                        </li>
                        <li>
                            <a class="fa-users" href="#">Quam nunc putamus</a>
                        </li>
                        <li>
                            <a class="fa-signal" href="#">Velit esse molestie</a>
                        </li>
                        <li>
                            <a class="fa-coffee" href="#">Nam liber tempor</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- End Sample Menu -->
                <!-- Contact Details -->
                <div class="col-md-3 margin-bottom-20">
                    <h3 class="margin-bottom-10">Contact Details</h3>
                    <p>
                        <span class="fa-phone">Telephone:</span>(212)888-77-88
                        <br>
                        <span class="fa-envelope">Email:</span>
                        <a href="mailto:info@joomla51.com">info@joomla51.com</a>
                        <br>
                        <span class="fa-link">Website:</span>
                        <a href="http://www.joomla51.com">www.joomla51.com</a>
                    </p>
                    <p>The Dunes, Top Road,
                        <br>Strandhill,
                        <br>Co. Sligo,
                        <br>Ireland</p>
                </div>
                <!-- End Contact Details -->
                <!-- Thumbs Gallery -->
                <div class="col-md-3 margin-bottom-20">
                    <h3 class="margin-bottom-10">Portfolio Highlights</h3>
                    <div class="thumbs-gallery">
                        <a class="thumbBox" rel="lightbox-thumbs" href="{{ asset('static/assets/img') }}/thumbsgallery/image01.jpg">
                            <img src="{{ asset('static/assets/img') }}/thumbsgallery/thumbs/image01.jpg" alt="image1.jpg">
                            <i></i>
                        </a>
                        <a class="thumbBox" rel="lightbox-thumbs" href="{{ asset('static/assets/img') }}/thumbsgallery/image02.jpg">
                            <img src="{{ asset('static/assets/img') }}/thumbsgallery/thumbs/image02.jpg" alt="image2.jpg">
                            <i></i>
                        </a>
                        <a class="thumbBox" rel="lightbox-thumbs" href="{{ asset('static/assets/img') }}/thumbsgallery/image03.jpg">
                            <img src="{{ asset('static/assets/img') }}/thumbsgallery/thumbs/image03.jpg" alt="image3.jpg">
                            <i></i>
                        </a>
                        <a class="thumbBox" rel="lightbox-thumbs" href="{{ asset('static/assets/img') }}/thumbsgallery/image04.jpg">
                            <img src="{{ asset('static/assets/img') }}/thumbsgallery/thumbs/image04.jpg" alt="image4.jpg">
                            <i></i>
                        </a>
                        <a class="thumbBox" rel="lightbox-thumbs" href="{{ asset('static/assets/img') }}/thumbsgallery/image04.jpg">
                            <img src="{{ asset('static/assets/img') }}/thumbsgallery/thumbs/image05.jpg" alt="image5.jpg">
                            <i></i>
                        </a>
                        <a class="thumbBox" rel="lightbox-thumbs" href="{{ asset('static/assets/img') }}/thumbsgallery/image06.jpg">
                            <img src="{{ asset('static/assets/img') }}/thumbsgallery/thumbs/image06.jpg" alt="image6.jpg">
                            <i></i>
                        </a>
                        <a class="thumbBox" rel="lightbox-thumbs" href="{{ asset('static/assets/img') }}/thumbsgallery/image07.jpg">
                            <img src="{{ asset('static/assets/img') }}/thumbsgallery/thumbs/image07.jpg" alt="image7.jpg">
                            <i></i>
                        </a>
                        <a class="thumbBox" rel="lightbox-thumbs" href="{{ asset('static/assets/img') }}/thumbsgallery/image08.jpg">
                            <img src="{{ asset('static/assets/img') }}/thumbsgallery/thumbs/image08.jpg" alt="image8.jpg">
                            <i></i>
                        </a>
                        <a class="thumbBox" rel="lightbox-thumbs" href="{{ asset('static/assets/img') }}/thumbsgallery/image09.jpg">
                            <img src="{{ asset('static/assets/img') }}/thumbsgallery/thumbs/image09.jpg" alt="image9.jpg">
                            <i></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End Thumbs Gallery -->
                <!-- Disclaimer -->
                <div class="col-md-3 margin-bottom-20">
                    <h3 class="margin-bottom-10">Disclaimer</h3>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
                        augue duis dolore te feugait nulla facilisi.</p>
                    <div class="clearfix"></div>
                </div>
                <!-- End Disclaimer -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- Footer Menu -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div id="copyright" class="col-md-4">
                    <p>(c) 2014 Your Copyright Info</p>
                </div>
                <div id="footermenu" class="col-md-8">
                    <ul class="list-unstyled list-inline pull-right">
                        <li>
                            <a href="#" target="_blank">Sample Link</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Sample Link</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Sample Link</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Sample Link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Menu -->
    <!-- JS -->
    <script type="text/javascript" src="assets/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/js/scripts.js"></script>
    <!-- Isotope - Portfolio Sorting -->
    <script type="text/javascript" src="assets/js/jquery.isotope.js" type="text/javascript"></script>
    <!-- Mobile Menu - Slicknav -->
    <script type="text/javascript" src="assets/js/jquery.slicknav.js" type="text/javascript"></script>
    <!-- Animate on Scroll-->
    <script type="text/javascript" src="assets/js/jquery.visible.js" charset="utf-8"></script>
    <!-- Sticky Div -->
    <script type="text/javascript" src="assets/js/jquery.sticky.js" charset="utf-8"></script>
    <!-- Slimbox2-->
    <script type="text/javascript" src="assets/js/slimbox2.js" charset="utf-8"></script>
    <!-- Modernizr -->
    <script src="assets/js/modernizr.custom.js" type="text/javascript"></script>
    <!-- End JS -->
</body>
</html>
<!-- === END FOOTER === -->