{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form, { 'attr' : {'class' : 'form-group'}}) }}

    <br>
    <div class="col-md-12 ">
        <input type="submit" class="btn-primary col-md-6 col-md-offset-3"  value="Edition" />
    </div>

    {{ form_end(edit_form) }}

    <ul class="list-inline">
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" class="btn-primary" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}