{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Posts</h1>

    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Sommaire</th>
            <th>Date de création</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.summary }}</td>
                <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                {% if post.existe %}
                    <td><img src="{{ asset('uploads/pictures/'~post.getImage) }}" style="max-height: 75px; max-width: 75px; font-style: italic;" /></td>
                {% else %}
                    <td  style="font-style: italic;">null</td>
                {% endif %}
                <td>

                    <a href="{{ path('post_show', { 'id': post.id }) }}"><i class="fa fa-eye"></i></a>

                    <a href="{{ path('post_edit', { 'id': post.id }) }}"><i class="fa fa-pencil"></i</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="text-center list-unstyled">
        <li>
            <a href="{{ path('post_new') }}"><i class="fa fa-plus-square"></i> Créer un nouveau Post</a>
        </li>
    </ul>
{% endblock %}