{% extends 'base.html.twig' %}

{% block body %}

    {% for flash in app.session.flashBag.get('notice') %}
        <div id="notice" class="notice alert alert-notice">
            {{ flash }}
        </div>
    {% endfor %}


    <h1>Post creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
