{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="text-right">

        <ul class="list-inline">
            <li>
                <a href="{{ path('post_index') }}"><i class="fa fa-return"></i>Retourner sur la liste</a>
            </li>
            <li>
                <a href="{{ path('post_edit', { 'id': post.id }) }}">Editer le post</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" class="btn-primary" value="Supprimer le post">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>

    <h1>{{ post.title }}</h1>


    <div class="row">

        <div class="col-md-8">
            {% if post.existe %}
                <td><img src="{{ asset('uploads/pictures/'~post.getImage) }}" style="max-height: 800px; font-style: italic;" class="img-responsive" /></td>
            {% else %}
                <img class="img-responsive" src="http://placehold.it/750x500" alt="">
            {% endif %}
        </div>

        <div class="col-md-4">
            <h4>Sommaire : {{ post.summary }}</h4>
            <h6>Ecrit par : <b>{{post.user.username}}</b> le {% if post.createdAt %}{{ post.createdAt|date('d-m-Y') }} à {{ post.createdAt|date('H:i') }} {% endif %}</h6></br>
            <p>{{ post.content }}</p>
            <br><br>


        </div>

        <div class="col-md-12">
            <br>
            <hr>
            <h3>Commentaire : <i class="fa fa-comments-o"></i> </h3><br>
            {% for comment in comments %}

                {% if comment.post.id == post.id %}
                    <div class="col-md-12 pannel">
                        <i>Poster par: <b>{{ comment.user.username|title }}</b> le <em>{{ comment.createdAt.date|date('d/m/y h:i') }}</em></i>
                        <div class="col-md-offset-1">
                            <p>{{ comment.comment }}</p>
                        </div>

                    </div>

                {% endif %}

            {% endfor %}

            <div class="col-md-12 text-right">
                <a href="{{ path('comment_new', { 'post': post.id }) }}"><i class="fa fa-comment"></i> Nouveau commentaire</a>
            </div>


        </div>
    </div>

{% endblock %}