{% extends 'IKNSAAppBundle::layout.html.twig' %}

{% block header %}
    <h3>Extends</h3>
    This part has been overriden
    <hr>
{% endblock %}


{% block body %}

Hello World!

<br />
<br />
<br />
<br />

<!-- TWIG – Définir une variable -->

{% set myVariable = "Contenu d'une variable définie en tiwg" %}
    {{ myVariable }}

<!-- TWIG – Boucle -->

{% for i in range(0, 10, step=2) %}
    {{ loop.index }} => {{ i }}<br>
{% endfor %}

<!-- TWIG – Boucle sur un tableau -->

{% set myArray = ["alfred", 'hitchcock', 'Arsène', 'Lupin'] %}

    {% for nom in myArray %}

        {{ loop.index }} => {{ nom }}<br>

    {% endfor %}

<!-- TWIG – Filter | upper -->

{% set myArray = ["alfred", '<i>hitchcock</i>', 'arsène', 'lupin'] %}

    {% for nom in myArray %}
        {{ loop.index }} =>
        <b>nom upper           </b>: {{ nom|upper }}
        <br><br>
    {% endfor %}

<!-- TWIG – Filter | raw -->

{% set myArray = ["alfred", '<i>hitchcock</i>', 'arsène', 'lupin'] %}

    {% for nom in myArray %}
        {{ loop.index }} =>
        <b>nom upper           </b>: {{ nom|upper }} ||
        <b>nom raw             </b>: {{ nom|raw }}
        <br><br>
    {% endfor %}

<!-- TWIG – Filter | title -->

{% set myArray = ["alfred", '<i>hitchcock</i>', 'arsène', 'lupin'] %}

    {% for nom in myArray %}
        {{ loop.index }} =>
        <b>nom upper           </b>: {{ nom|upper }} ||
        <b>nom raw             </b>: {{ nom|raw }} ||
        <b>nom raw title       </b>: {{ nom|raw|title }}
        <br><br>
    {% endfor %}

<!-- TWIG – Filter | striptags -->

{% set myArray = ["alfred", '<i>hitchcock</i>', 'arsène', 'lupin'] %}

    {% for nom in myArray %}
        {{ loop.index }} =>
        <b>nom upper           </b>: {{ nom|upper }} ||
        <b>nom raw             </b>: {{ nom|raw }} ||
        <b>nom raw title       </b>: {{ nom|raw|title }} ||
        <b>nom striptags       </b>: {{ nom|striptags }}
        <br><br>
    {% endfor %}

<!-- TWIG – Filter | length -->

{% set myArray = ["alfred", '<i>hitchcock</i>', 'arsène', 'lupin'] %}

    {% for nom in myArray %}
        {{ loop.index }} =>
        <b>nom upper           </b>: {{ nom|upper }} ||
        <b>nom raw             </b>: {{ nom|raw }} ||
        <b>nom raw title       </b>: {{ nom|raw|title }} ||
        <b>nom striptags       </b>: {{ nom|striptags }} ||
        <b>nom striptags length</b>: {{ nom|striptags|length }}
        <br><br>
    {% endfor %}

<!-- TWIG – Filter | length -->

{% set myArray = ["alfred", '<i>hitchcock</i>', 'arsène', 'lupin'] %}

    {% for nom in myArray %}
        {{ loop.index }} =>
        <b>nom upper           </b>: {{ nom|upper }} ||
        <b>nom raw             </b>: {{ nom|raw }} ||
        <b>nom raw title       </b>: {{ nom|raw|title }} ||
        <b>nom striptags       </b>: {{ nom|striptags }} ||
        <b>nom striptags length</b>: {{ nom|striptags|length }} ||
        <b>nom length          </b>: {{ nom|length }} ||
        <br><br>
    {% endfor %}

<!-- TWIG – Filter | Dates -->

{{ "now"|date(null, "Europe/Paris") }}
<br>
<br>
{{ "now"|date('D d/m/y H:i:s', "Europe/Paris") }}

<br />
<br />
<br />
<br />

{% include 'IKNSAAppBundle:Default:fileToInclude.html.twig' %}


{% endblock %}
